.blackandwhite {
    filter: gray;
    filter: grayscale(100%);
}

.blackandwhite:hover {
    filter: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline;
}

p {
    text-align: justify;
}


/* Styling for the iframes */
#circulation {
    height: 400px;
    outline: none;
    display:block;
}

#therologia {
    height: 850px;
    width: 100%;
    outline: none;
    display: block;
    justify-content: center;

}


.w3-quarter:hover{
    color:darkgreen;
    filter: none;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  div.accordion p{
      padding-right: 180px;
      padding-left: 180px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .panel p {
      padding-left: 30%;
      padding-right: 30%;
      justify-content: left;
      text-align:left;
  }